<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Allthink - Logout</title>

    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/site_media/global.css">
    <link rel="stylesheet" type="text/css" href="/site_media/home.css">
</head>
<body>

<div id="wrapper">
    <div id="navwrapper" class="notranslate">
        <ul class="topnav" style="float: right;">
        </ul>
        <a href="/" id="logo" class="gradebook" title="Allthink"><b>Allthink</b></a>
        <ul class="topnav">
            <li>
                <a href="/login/" class="">Login </a>
            </li>
            <li>
                <a href="/signup/" class="">Signup </a>
            </li>
        </ul>
    </div>
    <div id="main" class="clearfix">

        <div class="msg tip" style="margin-top:10px;width:440px;">
            <a href="/"><b>You've been logout</b> click here to
                come back to main page</a>.
        </div>


    </div>
</div>

</body>
</html>