<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Allthink - Sign Up</title>

    <meta name="description" content="Sign up for Engrade.">
    <link rel="stylesheet" type="text/css" href="/site_media/global.css">
    <link rel="stylesheet" type="text/css" href="/site_media/home.css">
    <script type="text/javascript" src="/site_media/common.js"></script>
</head>
<body>

<div id="wrapper">
    <div id="navwrapper" class="notranslate">
        <ul class="topnav" style="float: right;">
        </ul>
        <a href="/" id="logo" class="gradebook" title="Allthink"><b>Allthink</b></a>
        <ul class="topnav">
            <li>
                <a href="/login/" class="">Login </a>
            </li>
            <li>
                <a href="/signup/" class="">Signup </a>
            </li>
        </ul>
    </div>
    <div id="main" class="clearfix">

        <div class="table">
            <div class="toprow">
                <div class="title">Which type of account would you like to create?</div>
            </div>
            <div class="row thick">
                <a href="/signup/teacher/" class="preicon"><b>Teacher</b></a>
            </div>
            <div class="row thick">
                <a href="/signup/student/" class="preicon"><b>Student</b></a>
            </div>
            <script type="text/javascript" src="./signup_files/translate.js"></script>

        </div>
    </div>
</div>
</body>
</html>