<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Allthink - Teacher Signup - Fast, Easy, Free</title>

    <meta name="description" content="Sign up for Engrade">
    <link rel="stylesheet" type="text/css" href="/site_media/global.css">
    <link rel="stylesheet" type="text/css" href="/site_media/home.css">
    <script type="text/javascript" src="/site_media/common.js"></script>
</head>
<body>

<div id="wrapper">
    <div id="navwrapper" class="notranslate">
        <ul class="topnav" style="float: right;">
        </ul>
        <a href="/" id="logo" class="gradebook" title="Allthink"><b>Allthink</b></a>
        <ul class="topnav">
        </ul>
    </div>
    <div id="main" class="clearfix">
        <div class="homebox">
            <div class="main">

                <form method="post"  action=".">
                    {% csrf_token %}
                    <div class="table inform inhelp">
                        <div class="toprow">
                            <div class="title">Teacher Signup - Fast, Easy, Free</div>
                        </div>

                        <div class="row alt text ">
                            <b>{{ form.fullname.errors }} </b>
                            <div class="name "> <label for="id_fullname">  Your Name </label></div>
                            <div class="field" style="">{{ form.fullname }}</div>
                            <div class="help">Enter your name as you wish students to see.</div>
                        </div>

                        <div class="row  text ">
                            <b>{{ form.email.errors }} </b>
                            <div class="name "> <label for="id_email"> Your Email </label></div>
                            <div class="field" style="">{{ form.email }}</div>
                            <div class="help">Enter your OFFICIAL work email address</div>
                        </div>

                        <div class="row alt text ">
                            <b>{{ form.username.errors }} </b>
                            <div class="name "> <label for="id_username"> Choose Username </label> </div>
                            <div class="field" style="">{{ form.username }}</div>
                            <div class="help">Choose username, letters and numbers only. Students will see this.</div>
                        </div>

                        <div class="row  text ">
                            <b>{{ form.password1.errors }} </b>
                            <div class="name"> <label for="id_password">Choose Password</label> </div>
                            <div class="field" >{{ form.password1 }}</div>
                            <div class="help">Choose a password</div>
                        </div>


                        <div class="row alt text ">
                            <b>{{ form.password2.errors }} </b>
                            <div class="name"> <label for="id_password2">Confirm Password </label> </div>
                            <div class="field">{{ form.password2 }}</div>
                            <div class="help">Re-enter your password above</div>
                        </div>

                        <input type="hidden" name="schoolcode" value="">


                        <div class="row alt submit">
                            <div class="name">&nbsp;</div>
                            <div class="field">
                                <input type="submit" name="submit" value="Create Account »" id="formsubmit"
                                       class="submit">
                            </div>
                        </div>
                    </div>
                </form>


                <script type="text/javascript">
                    gid('input_name').focus();</script>
            </div>
            <div class="side">
                <div class="table text">
                    <img src="/media/images/teacher.png" style="width:150px"><br><br>
                    <b><i>Welcome!</i></b><br>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="pop" class="off">
    <div id="poptop">
        <a href="javascript:popoff();void(0)" id="popclose" title="Close"><img src="/media/images/delete.png"
                                                                               alt="Close"></a>

        <div id="poptitle" onmousedown="dragStart(event, &#39;pop&#39;)">&nbsp;</div>
    </div>
    <div id="popc"></div>
</div>


<!--
 
-->


</body>
</html>