/*/////////////////////// ENGRADE /////////////////////////
// Global Engrade Theme CSS
/////////////////////////////////////////////////////////*/

/******* GENERAL HTML *******/

body {
	margin:0 0 40px 0;
	font-size:10pt;
	font-family: Verdana, Arial, sans-serif;
	text-align:center;
	background:url('/i/allthinkbg5.png') 0 0 repeat rgb(231,242,255);
}

table, tr, td, iframe, p, div, span, img {
	text-align:left;
	border:0;
	border:0;
	padding:0;
	margin:0;
}

a {
	color:rgb(0,85,255);
	text-decoration:none;
}

a:hover {
	color:rgb(0,85,255);
}

form {
	margin:0;
	display:inline;
}


/******* NAV *******/

#navwrapper {
	display:block;
	height:42px;
	background:rgb(0,85,230);
	border-bottom:1px solid rgb(0,43,170);
	margin-bottom:20px;
}


#nav {
	display:block;
	width:980px;
	height:45px;
	margin:0 auto;
	position:relative;
}


#nav #links {
	float:right;
    border-right:1px solid rgb(0,100,250);
    border-left:1px solid rgb(0,70,210);
}


#nav #links a {
	display:block;
	float:left;
	padding:0 15px;
    border-left:1px solid rgb(0,100,250);
    border-right:1px solid rgb(0,70,210);
	font-size:8pt;
	font-weight:bold;
	line-height:42px;
	color:rgb(255,255,255);
}


#nav #links a.navtab {
	font-weight:bold;
}

#nav #links a img {
	width:16px;
	height:16px;
	float:left;
	margin:14px 6px 0 0;
}



#logo {
	background:url('/i/logo61.png') 0 0 no-repeat;
	height:42px;
	width:101px;
	display:block;
	float:left;
	font-size:0;
	position:absolute;
	left:0;
	top:0;
}





/******* MAIN *******/

#main {
	width:100%;
}




/******* FORMS *******/


div.inform {
	display:table;
	width:940px;
	margin:0 auto 40px auto;
	font-size:10pt;
}

div.inform div {
	display:block;
	float:left;
}

div.inform div.multi,
div.inform div.row,
div.inform div.helprow ,
div.inform div.midrow {
	clear:both;
	padding:10px 0;
	width:940px;
	background:rgb(255,255,255);
	border-bottom:3px dotted rgb(245,245,245);
}

div.inform .toprow {
	text-indent:0;
}


div.inform div.helprow ,
div.inform div.midrow {
	font-size:8pt;
	color:rgb(85,85,85);
}



div.inform div.row div.name {
	width:190px;
	padding-top:2px;
	font-size:8pt;
	color:rgb(85,85,85);
}

div.inform div.row div.field {
	width:580px;
}


div.inform div.row div.help {
	width:580px;
	margin-left:190px;
	font-size:10px;
	color:rgb(128,128,128);
	padding-top:4px;
}

div.inform div.error div.help {
	color:rgb(213,0,0);
}


div.inform div.colrow div.col {
	font-weight:bold;
	font-size:8pt;
	color:rgb(85,85,85);
}

div.inform select,
div.inform input {
	font-size:10pt;
	font-family:Verdana;
}


div.inform input.button {
	padding:5px 10px;
}


/* checkbox */
div.inform div.checkbox div.field {
	font-size:8pt;
}




/* inline help */
div.inhelp div.row div.field {
	width:auto;

}
div.inhelp div.row div.help {
	width:auto;
	margin-left:15px;
}

div.thinform {
	margin:0;
}

div.thinform  div.row{
	padding:5px 0;
}




/* simple form */
div.simpleform {
}

div.simpleform div.row {
	margin:0;
	padding:10px 0;
}


div.simpleform div.row div.name {
	margin: 0 0 5px 0;
	width:160px;
	text-indent:0;
}

div.simpleform div.row div.field {
	width:780px;
	float:right;
}

div.simpleform div.row div.help {
	width:780px;
	float:right;
}


/* SMALL FORM */

div.smallform {
	width:400px;
}

div.smallform div.toprow {
	width:380px;
}

div.smallform div.midrow {
	width:390px;
}

div.smallform div.row {
	width:390px;
}

div.smallform div.row div.name {
	width:110px;
}

div.smallform div.row div.field {
	width:280px;
}

div.smallform div.row div.help {
	width:280px;
	margin-left:110px;
	clear:left;
	display:none;
}

div.smallform div.error div.help {
	display:block;
}


/* MULTI ROW */

div.inform div.multi {
	padding:0;
}

div.inform div.multi div.row,
div.inform div.multi div.row div,
div.inform div.multi div {
	clear:none;
	width:auto;
	margin:0;
}

div.inform div.multi div {
	padding-right:5px;
}

div.inform div.multi div.row div.help {
	display:none;
}







/******* GENERAL LIST TABLE *******/

div.table {
	width:940px;
	margin:0 auto 10px auto;
	font-size:10pt;
	line-height:100%;
}

div.table div {
	display:block;
	float:left;
	
}

div .row,
div .toprow,
div .midrow {
	display:block;
	float:left;
	clear:both;
	width:930px;
	line-height:16px;
	border-bottom:3px dotted rgb(245,245,245);
	position:relative;
}


div .row {
	background:rgb(255,255,255);
	padding:10px 5px;
}

div .toprow {
	font-size:8pt;
	line-height:100%;
	padding:15px 5px;
	border-bottom-color:rgb(230,230,230);
	color:rgb(0,0,0);
	text-indent:5px;
	font-weight:bold;
}

div .midrow {
	padding:12px 5px;
	font-size:11px;
	line-height:11px;
	color:rgb(128,128,128);
	font-weight:bold;
}


div.table div .name {
	display:block;
	float:left;
	width:400px;
}
div.table div.midrow .name {
	font-weight:normal;
}

div.table div .text {
	padding:7px;
	line-height:140%;
}


div.table div .detail {
	width:150px;
	font-size:8pt;
}


div.table .row .ops {
	width:200px;
	text-align:right;
	float:right;
	padding:0;
	margin:0;
}


div.table .row .ops a {
	margin: 0;
	display:inline;
	background:none;
	border:0;
	font-size:8pt;
	padding:2px;
	color:rgb(0,128,85);
}

div.table .row .ops a:hover {
	color:rgb(0,170,85);
}

div.table .row .ops a.icon {
	width:16px;
	height:16px;
}

div.table .row .ops a.icon img {
	width:16px;
	height:16px;
}

div.table .row .ops a.icon:hover img {
	background:rgb(213,255,213);
}


div.table:after {
	display:block;
	content:' ';
	clear:both;
}


.preicon {
	padding: 0 0 2px 23px;
	background-repeat:no-repeat;
	background-position:0 0;
	font-weight:bold;
}

.alt {
	background:rgb(250,250,250);
}

div.table div.altrow,
div.table div.altrow div {
	background:rgb(250,250,250);
}







div.table div.thin {
	padding:7px 5px;
}


div.table .over {
	background:rgb(230,255,230);
}

div.table a.highlight {
	background:rgb(230,245,255);
	padding:4px;
	width:auto;
	-moz-border-radius:4px;
	border-radius:4px;
}

div.table .inverted {
	font-size:10px;
	line-height:10px;
	font-weight:bold;
	background:rgb(0,170,128);
	color:rgb(245,245,255);
	padding:5px 8px;
	width:75px;
	-moz-border-radius:10px;
	border-radius:10px;
}

div.table .invon {
	background:rgb(0,213,170);

}


div.table .hideops .ops {
	display:none;
}




.table .row.highlight {
	font-weight:bold;
	background:rgb(230,250,245);
}










/******* HALF-WIDTH TABLE *******/

div.half {
	width:310px;
}

div.half .midrow, 
div.half .toprow, 
div.half .row {
	width:300px;
}
















/******* MESSAGE BOXES *******/

div.msg_help,
div.msg_tip,
div.msg_error,
div.msg_success  {
	padding:10px;
	width:960px;
	font-size:10pt;
	font-weight:normal;
	margin:0 auto 10px auto;
	line-height:140%;
	font-size:8pt;
	border:1px solid rgb(213,213,213);
}

div.msg_error  {
	background:rgb(255,240,240);
	color:rgb(128,0,0);
}

div.msg_success  {
	background:rgb(240,255,240);
	color:rgb(0,128,0);
}

div.msg_tip  {
	background:rgb(255,255,213);
	color:rgb(85,85,85);
}

div.msg_help {
	background:rgb(230,240,255);
	color:rgb(43,43,85);
}







/******* OPTION LINKS *******/

div.options {
	display:block;
	margin:0 auto 10px auto;
	clear:both;
	height:32px;
	line-height:32px;
	width:940px;
}

div.options:after {
	display:block;
	clear:both;
	content:' ';
}

div.options span,
div.options a {
	display:block;
	float:left;
	padding:0 11px;
	background:url('/i/buttonbg2.png') 0 0 repeat-x rgb(250,250,250);
	margin:0 4px 0 0;
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	color:rgb(85,85,85);
	border:1px solid rgb(190,190,190);
	-moz-border-radius:5px;
	border-radius:5px;
	text-shadow: 1px 1px 0px rgb(255,255,255);
}



div.options a:hover {
	background-position: -8px -8px;
}


div.options span {
	opacity:.50;
	filter:alpha(opacity=50);

}

div.options form.space {
	display:block;
	float:left;
	margin:0 30px 0 0;
}


div.options input {
	display:block;
	float:left;
	margin:0 5px 0 0;
	font-size:8pt;
	font-family:Verdana;
	padding:8px 0;
}


div.options select {
	display:block;
	float:left;
	margin:0 5px 0 0;
	font-size:8pt;
	font-family:Verdana;
	padding:8px;
}



div.smalloptions a {
	display:block;
	float:left;
	padding:8px;
	background:rgb(230,230,255);
	border:1px solid rgb(213,213,255);
	margin:0 3px 0 0;
	font-size:8pt;
	font-weight:bold;
	color:rgb(0,85,213);
}

div.smalloptions a:hover {
	padding:7px;

}


div.options a img.upic {
	margin:8px 4px 0 0;
}










/******* BB *******/


.bb .itemmain {
	width:690px;
	float:left;
	display:block;
}

.bb img.postpic {
	width:32px;
	height:32px;
	padding:5px;
	border:1px solid rgb(230,230,230);
	float:left;
	margin-right:10px;
}


div.bb .row {
	padding:10px 5px;
}

.bb .row .title {
	display:block;
	float:none;
	display:block;
	font-size:12pt;
	font-family:Arial;
	padding-top:1px;
}


.bb .unread .title {
	font-weight:bold;
}

.bb .row .byline2,
.bb .row .byline {
	margin-left:48px;
	float:none;
	color:rgb(85,85,85);
	font-size:8pt;
	padding-top:5px;
}

.bb .row .byline2 {
	padding-top:0;
	padding-bottom:5px;
}

.bb .row .byline2 a,
.bb .row .byline a {
	color:rgb(85,128,213);
}

.bb .row .byline2 a:hover,
.bb .byline a:hover {
	color:rgb(85,128,255);
}

.bb .row .byline2 select,
.bb .row .byline select {
	font-size:8pt;
	font-family:Verdana;
	border:0;
	padding:0;
	margin:0;
	color:rgb(0,0,255);
	cursor:pointer;
	opacity:.50;
	filter:alpha(opacity=50);
}

.bb .row .byline2 select.focused,
.bb .row .byline select.focused {
	border-width:1px;
	color:rgb(0,0,0);
	width:auto;
	cursor:default;
	opacity:1;
	filter:alpha(opacity=100);
}


div.bb .row .ops {
	float:left;
	width:70px;
	font-size:10px;
	text-align:right;
	line-height:150%;
}

div.bb .row .ops a {
	color:rgb(85,128,213);
	background:rgb(255,255,255);
	padding:0;
	background:none;
	float:none;
	font-weight:normal;
	font-size:10px;
}

div.bb .row .ops a:hover {
	color:rgb(85,128,255);
	background:rgb(255,255,255);
}

div.bb .grade {
	float:right;
	width:100px;
	font-size:16pt;
	font-family:Arial;
	font-weight:bold;
	text-align:right;
}


div.bb textarea.off {
	border:0;
	padding:0;
	margin:0;
}



div.bb .row .inform {
	border:0;
	padding:0;
	margin:0;
	width:auto;
	background:none;
}

div.bb .row .inform .toprow,
div.bb .row .inform .help,
div.bb .row .inform .name {
	display:none;
}

div.bb .row .inform div.row {
	border:0;
	margin:0;
	width:auto;
}


.table .stat {
	float:right;
	font-size:10px;
	text-align:center;
	color:rgb(128,128,128);
	text-transform:lowercase;
	width:70px;
	height:40px;
	background:rgb(250,250,250);
}


.table .stat b {
	font-size:10pt;
	font-weight:bold;
	display:block;
	text-align:center;
	margin:4px 0 0 0;
}


.table .score {
	position:absolute;
	left:-2px;
	top:43px;
	color:rgb(128,128,128);
	padding:3px 2px;
	background:rgb(255,255,255);
	font-size:10px;
	line-height:10px;
	font-weight:bold;
	border:1px solid rgb(230,230,230);
	background:rgb(250,250,250);
}




/******* PROFILE *******/

#profilehead {
	width:940px;
	margin-bottom:10px;
}

#profilehead h1 {
	display:block;
	margin:0;
	padding:6px 0 14px 0;
	font-family:Arial;
	font-size:20pt;
	font-weight:normal;
}

#profilehead a.link {
	display:block;
	font-size:10pt;
	color:rgb(128,128,128);
}

#profilehead img.pic {
	max-height:50px;
	max-width:50px;
	float:left;
	margin-right:15px;
	border:2px solid rgb(245,245,245);
}










/******* MISC *******/


a.edit {
	color:rgb(128,100,255);
}


a.edit:hover {
	color:rgb(85,0,213);
}

.small	{font-size:8pt;}
.mini	{font-size:10px;text-transform:uppercase;font-weight:normal;}
.tiny	{font-size:10px;}
.top	{vertical-align:top;}
.right	{text-align:right;}
.fright	{float:right;}
.left	{text-align:left;}
.center	{text-align:center;}
.point	{cursor:pointer;}
.bold	{font-weight:bold;}
.italic	{font-style:italic;}
.grey	{ color:rgb(128,128,128); }

.new {
	font-size:8px;
	vertical-align:super;
	text-transform:uppercase;
	color:rgb(255,0,0);
	font-weight:normal;
	line-height:100%;
}


a.file {
	display:block;
	padding:5px 0;
	line-height:16px;
}

a.file img {
	float:left;
	height:16px;
	width:16px;
	margin-right:5px;
}



.likecount {
	font-weight:bold;
	background:rgb(230,230,230);
	padding:1px 4px;
	color:rgb(85,85,85);
	-moz-border-radius:2px;
	border-radius:2px;
}

.upic {
	width:16px;
	height:16px;
	margin-right:8px;
	float:left;
}



/******* POP BOX *******/

#pop.on {
	display:block;
	position:absolute;
	z-index:99;
	background:rgb(255,255,255);
	border:15px solid rgb(43,43,43);
	box-shadow:2px 2px 30px rgba(0,0,0,0.7);
	-moz-border-radius:6px;
	border-radius:6px;
}

#poptop {
	width:100%;
	padding:0 0 14px 0;
	background:rgb(43,43,43);
	font-size:10pt;
	line-height:20px;
	height:20px;
	font-family:Verdana;
	color:rgb(230,230,230);
	font-weight:bold;
    margin-top: -1px;
}

#pop.off {
	display:none;
}

#pop.off #poptop {
	display:none;
}


#popc .table {
	width:700px;
}

#popclose {
	display:block;
	float:right;
	padding:8px;
	border-radius:8px;
	position:relative;
	top:-6px;
	left:1px;
	background:rgb(250,250,250);
	width:16px;
	height:16px;
	line-height:20px;
	
}

#popclose:hover {
	background:rgb(240,240,250);
}

#popclose img {
	width:16px;
	height:16px;
}

#popc .table {
	margin:0;
}

#popc .table .row,
#popc .table .row.options,
#popc .table .toprow,
#popc .table .midrow {
	width:690px;
	height:auto;
	margin:0;
	line-height:100%;
}

#popc .table div.row.options {
	line-height:32px;
}

#popc .table .row.dbb {
	border-bottom:3px dotted rgb(213,213,213);
}


#popc .table .row {
	font-size:12pt;
	font-family:Arial;
}

#popc .table .row.small {
	font-size:10pt;
	font-family:Verdana;
}


#popc .table .row select,
#popc .table .row input {
	font-size:12pt;
	font-family:Arial;
	padding:3px;
}



#wrapper.on {
	opacity:1;
	filter:alpha(opacity=100);
}

#wrapper.off {
	opacity:0.5;
	filter:alpha(opacity=50);
}








/************* BADGES *************/

.mainbox .sidebar .table .row.badge {
}

.mainbox .sidebar .table .row.badge img {
	height:16px;
	width:16px;
	float:left;
	display:block;
	margin-right:10px;
	
}



.mainbox {
	width:980px;
	margin:0 auto;
	position:relative;
}

.mainbox:after {
	content:' ';
	display:block;
	clear:both;
}


.mainbox .table.wide {
	width:940px;
	padding:19px;
	background:rgb(255,255,255);
	border:1px solid rgb(213,213,213);
	float:left;
	clear:none;
	margin-bottom:10px;
}


.mainbox .table.wide .options {
	float:right;
	clear:none;
	width:auto;
}


.mainbox .table.main {
	width:650px;
	padding:19px;
	background:rgb(255,255,255);
	border:1px solid rgb(213,213,213);
	float:left;
	clear:none;
}

.mainbox .table.main .row,
.mainbox .table.main .toprow,
.mainbox .table.main .midrow {
	width:640px;
}

.mainbox .table.main .row .byline {
	width:530px;
}


.mainbox .sidebar {
	float:right;
	width:240px;
	border-left:3px dotted rgb(230,230,230);
	padding:19px;
	background:rgb(255,255,255);
	border:1px solid rgb(213,213,213);
}

.mainbox .sidebar .table {
	width:240px;
	margin:0;
}

.mainbox .sidebar .table .row,
.mainbox .sidebar .table .toprow,
.mainbox .sidebar .table .midrow {
	width:230px;
	border-bottom-width:2px;
}

.mainbox .sidebar .table .row {
}

.mainbox .sidebar .table .toprow {
}


.mainbox > #inform > .inform {
	padding:19px;
	background:rgb(255,255,255);
	border:1px solid rgb(213,213,213);
}


.mainbox > .options {
	width:940px;
	padding:19px;
	background:rgb(255,255,255);
	border:1px solid rgb(213,213,213);
}

.mainbox > .options.over {
	margin:0 0 0 10px;
	float:left;
	width:auto;
	padding:0;
	height:auto;
	border:0;
	border-right:1px solid rgb(213,213,213);
}


.mainbox > .options.over a {
	border-radius:0;
	margin:0;
	background:rgb(245,245,245);
	border:1px solid rgb(213,213,213);
	border-bottom:0;
	border-right:0;
	padding:5px 13px;
	color:rgb(128,128,128);
	text-shadow:none;
}

.mainbox > .options.over a:hover {
	color:rgb(85,85,85);
}





