
.lesson img {
	max-width:650px !important;
}


.lesson .top {
	line-height:160%;
	color:rgb(85,85,85);
	font-size:8pt;
}

.lesson .top h1 {
	font-size:16pt;
	font-weight:normal;
	font-family:Arial;
	display:block;
	margin:10px 0;
	padding:0;
}


.lesson .main {
	margin-bottom:0;
}


.lesson .lessonbody {
	line-height:170%;
	margin-bottom:20px;
}




.lesson .sidebar {
	padding:5px;
	width:268px;
}


.lesson .sidebar .table a.row {
	line-height:36px;
	padding:0 9px;
	width:250px;
	height:36px;
	position:relative;
}

.lesson .sidebar .table a.row.sub {
	line-height:36px;
	padding:0;
	padding:0 0 0 32px;
	width:236px;
	height:36px;
	font-size:8pt;
	color:rgb(0,170,43);
}


.lesson .sidebar .table a.row.active {
	background:rgb(213,230,255);
}



.lesson .sidebar .table a.row.sub.active {
	background:rgb(240,250,240);
}


.lesson .sidebar .table a.row img {
	width:16px;
	height:16px;
	float:left;
	padding:2px;
	border:1px solid rgb(230,230,230);
	margin:8px 10px 0 0;
}

.lesson .sidebar .table a.row.sub img {
	width:14px;
	height:14px;
	margin:10px 8px 0 0;
	border:0;
}

.lesson .sidebar .table a.row.active img {
	background:rgb(190,213,255);
	border:1px solid rgb(170,170,170);
}

.lesson .sidebar .table a.sub.row.active img {
	background:none;
	border:none;
}

.lesson .sidebar .table a.row div.score {
	position:absolute;
	left:3px;
	top:20px;
	font-size:7px;
	font-weight:normal;
	padding:0 1px;
}



a.nextpage {
	display:block;
	float:right;
	clear:both;
	padding:10px 14px;
	border:1px solid rgb(213,213,213);
	background:rgb(240,240,240);
	font-size:8pt;
	font-weight:bold;
	color:rgb(85,85,85);
}









/*********** QUIZ ***********/


#EQuiz {
	min-height:300px;
}

#EQuiz:after {
	content:' ';
	display:block;
	clear:both;
}


#EQheader {
	margin:0 0 30px 0;
	padding:0 0 10px 0;
	border-bottom:1px solid rgb(230,230,230);
	width:650px;
	
}


#EQheader .title {
	display:none;
}

#EQheader .data {
	display:inline;
	margin-right:15px;
	padding-right:15px;
	border-right:1px solid rgb(230,230,230);
	color:rgb(0,128,0);
	font-weight:bold;
}

#EQheader .data:last-child {
	border:0;
}

#EQheader .small {
	font-size:10pt;
}


#EQheader .incorrect {
	color:rgb(213,0,0);
}

#EQheader .correct {
	color:rgb(0,85,0);
}

#EQstartcount {
	width:650px;
	margin-top:20px;
	font-family:Arial;
	font-size:100px;
	line-height:100px;
	text-align:center;
}

#EQstartheader {
	width:650px;
	font-size:26px;
	line-height:30px;
	text-align:center;
}




#EQquestion {
	width:650px;
	font-size:26px;
	line-height:30px;
	margin-bottom:30px;
}



#EQoptions {
	font-size:16px;
}



#EQoptions a {
	display:block;
	float:left;
	margin:0 5px 5px 0;
	color:rgb(0,0,0);
	padding:15px;
	width:auto;
	background:rgb(230,240,255);
	position:relative;
}

#EQoptions:after {
	content:' ';
	display:block;
	clear:both;
}


#EQoptions a:hover {
	background:rgb(170,213,255);
}



#EQoptions a.incorrect {
	text-decoration: line-through;
	color: rgb(213,0,0);
	background:rgb(255,213,213);
}

#EQoptions a.correct {
	color:rgb(0,170,0);
	background:rgb(170,255,170);
}

#EQoptions a.done,
#EQoptions a.hidden.done,
#EQoptions a.hidden {
	background:rgb(245,245,245);
	color:rgb(170,170,170);
}






#EQendmessage {
	font-size:26px;
	line-height:30px;
}

#EQendoptions {
	margin-top:40px;
}

#EQendoptions.options {
	clear:none;
}

#EQnextlessonwrapper a {
	margin-top:30px;
	display:block;
	font-size:20pt;
	font-family:Arial;
	width:600px;
	min-height:40px;
}

#EQnextlessonwrapper a b {
	font-size:10px;
	color:rgb(0,0,0);
	display:block;
	margin-bottom:2px;
	line-height:100%;
}


#EQnextlessonwrapper a img {
	width:40px;
	height:40px;
	margin-right:10px;
	float:left;
}




#EQuiz div.table {
	width:600px;
	margin:30px 0 0 0;
	clear:none;
}


#EQuiz .table .row,
#EQuiz .table .toprow {
	width:600px;
	clear:none;
}









/***** STEP BY STEP *****/

.StepByStep .SBSprompt {
	font-size:26px;
	line-height:30px;
	padding-bottom:40px;
}

.StepByStep .SPSsteps div {
	padding:10px 0;
	border-top:1px solid rgb(240,245,255);
}

.StepByStep .SPSsteps div:after {
	content:' ';
	display:block;
	clear:both;
}


.StepByStep .SPSsteps div b {
	display:block;
	font-weight:normal;
	font-size:20px;
	line-height:24px;	
}

.StepByStep .SPSsteps div i {
	display:block;
	font-style:normal;
	font-size:10pt;
	line-height:170%;
	margin:10px 0 0 10px;
	padding:10px;
	border-radius:8px;
	background:rgb(245,250,255);
	color:rgb(0,43,128);
}


.StepByStep .SBSnext {
	display:block;
	float:left;
	padding:10px 20px;
	font-size:12pt;
	font-weight:bold;
	font-family:Arial;
	color:rgb(85,85,85);
	background:rgb(245,245,245);
	border-radius:4px;
	border:1px solid rgb(190,190,190);
	background:url('/i/buttonbg2.png') 0 0 repeat-x rgb(255,255,255);
	text-shadow: 1px 1px 0px rgb(255,255,255);
	margin:20px 0 30px 0;
}


.StepByStep .header {
	font-size:8pt;
	color:rgb(128,128,128);
	padding:4px 0;
	display:block;
	width:650px;
}









/************ LIST ************/

.list .row {
	display:block;
	width:650px;
	line-height:160%;
	padding:7px 0;
	margin:0;
	border:0;
}

.list .row u {
	font-size:8pt;
	display:block;
	text-decoration:none;
	font-weight:bold;
	width:30px;
	float:left;
	padding:2px 0;
	background:rgb(0,170,85);
	color:rgb(255,255,255);
	text-align:center;
	border-radius:14px;
	margin-top:3px;
}


.list .row b {
	font-size:16pt;
	font-family:Arial;
	display:block;
	width:600px;	
	font-weight:normal;
	margin-left:50px;
}

.list .row i {
	display:block;
	width:600px;
	font-style:normal;
	font-size:10pt;
	margin-left:50px;
}


